body {
  width: 300px;
  padding: 10px;
  padding-bottom: 2px;
}
.left {
  float: left;
}
.right {
  float: right;
}
label.field {
  text-align: right;
  float: left;
  width: 80px;
  padding-right: 6px;
}
select {
  width: 188px;
  vertical-align: middle;
}
#strength-requirements {
  width: 270px;
  padding-left:6px;
}
.form-group h2 {
  font-size: 12px;
  padding-bottom: 0px;
  margin-bottom: 3px;
}
