.hidden {
display: none;
}
.form-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-group li {
  padding:0;
  margin:0;
  padding-left:6px;
}
.form-group label {
  padding:0px;
  margin:0px;
  width: auto;
}
.form-group input {
  vertical-align: middle;
}
.col {
  float: left;
}

/* XXX: the following should be applied by the browser, all rules below this
 * comment are copied directly from chrome://browser/content/extension.css
 *
 * However, even though according to the inspector, the styles are applied, on
 * Linux the textboxes retain their ubuntu-esque look, so we replicate the rules
 * here
 */
.browser-style > input[type="text"] {
  border:1px solid #b1b1b1;
  box-shadow:0 0 0 rgba(97, 181, 255, 0);
  padding:0 6px 0;
  transition-duration:250ms;
  transition-property:box-shadow;
}
.browser-style > input[type="text"].hover {
  border: 1px solid #858585;
}
.browser-style > input[type="text"].disabled {
  color: #999;
  opacity: .5;
}
/* Interactive States */
.browser-style > input[type="text"]:not(disabled):hover {
  border: 1px solid #858585;
}
.browser-style > input[type="text"]:focus,
.browser-style > input[type="text"]:focus:hover {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}
